.taskCardContainer {
    width: 100%;
    height: 62px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 8px;
    padding: 6px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-text-color);
}

.taskDetailsContainer {
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.taskName {
    width: 100%;
    height: 50%;
    font-size: 14px;
    font-weight: 600;
    color: var(--primary-text-color);
    white-space: nowrap;
}

.taskDesc {
    width: 100%;
    height: 50%;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
}

.taskDueDate {
    width: 170px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    
    span {
        font-style: italic;
        font-size: 12px;
        font-weight: 400;
    }
}

.statusContainer {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status {
    width: fit-content;
    padding: 5px 10px;
    height: 30px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusPending {
    composes: status;
    background-color: var(--task-color-pending);
    color: var(--task-status-color);
}

.statusInProgress {
    composes: status;
    background-color: var(--task-color-progress);
    color: var(--task-status-color);
}

.statusCompleted {
    composes: status;
    background-color: var(--task-color-done);
    color: var(--task-status-color);
}

.taskToolsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskCardButton {
    width: fit-content;
    padding: 5px 10px;
    height: 30px;
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;

    span {
        padding-left: 5px;
    }
}

@media screen and (max-width: 800px) {
    .taskCardButton {
        span {
            display: none;
        }
    }

    .statusContainer {
        width: 30px;
        label {
            display: none;
        }
    }

    .status {
        width: 20px;
        height: 20px;
        border-radius: 50%;
    }

    .taskDueDate {
        span {
            display: block;
        }
    }
}

.taskCardButton:hover {
    transform: scale(1.05);
}

.taskCardButton:active {
    transform: scale(0.95);
}