:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  --header-background-color: #156154;
  --header-text-color: #dbfff1;
  --footer-background-color: #156154;
  --footer-text-color: #dbfff1;
}

.light-theme {
  --primary-color: #f0fff8;
  --primary-text-color: #182b27;
  --secondary-color: #156154;
  --secondary-text-color: #dbfff1;
  --background-color: #f0fff8;
  --task-color-pending: red;
  --task-color-progress: blue;
  --task-color-done: green;
  --dialog-background-color: rgba(0, 0, 0, 0.5);
}

.dark-theme {
  --primary-color: #182b27;
  --primary-text-color: #f0fff8;
  --secondary-color: #d5f8ea;
  --secondary-text-color: #182b27;
  --background-color: #182b27;
  --task-color-pending: red;
  --task-color-progress: blue;
  --task-color-done: green;
  --dialog-background-color: rgba(255, 255, 255, 0.3);
}